$white: #FFFFFF;

//Green Theme
$lightGreen: #C5DCA0;
$lighterGreen: #c5dca080;
$lightestGreen: #c5dca040;
$darkGreen: #5B7553;
$brown: #3D2C2E;
$lighterBrown: #533c3f;
$smallBorder: 1px solid $darkGreen;
$largeBorder: 2px solid $darkGreen;

//Blue Theme
$lightBlue: #77aafb;
$lighterBlue: #77aafb7c;
$lightestBlue: #77aafb47;
$darkBlue: #2E5EAA;

@mixin padding($top, $bottom, $right, $left){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-right: $right;
    padding-left: $left;
}

@mixin images($width, $height){
    width: $width;
    height: $height;
}

.light{
    background-color: $lightGreen;
}

.dark{
    background-color: $darkGreen;
}

.lighter{
    background-color: $lighterGreen;
}

.lightest{
    background-color: $lightestGreen;
}

body{
    margin: 0 auto;

    width: 100%;
    height: 100%;

    font-family: 'Quicksand', sans-serif;
}

.nav{
    color: $white;
    font-size: 250%;
    font-weight: bold;

    width: 100%;
    height: fit-content;

    @include padding(5px, 5px, 40px, 40px);

    .images{

        img{@include images(30px, 30px);}

        width: 10%;
    }
}

/* Main Area */
    .mainArea{
        width: 100%;
        height: 100vh;
    }

/* Left Bar*/
    .leftBar{
        width: 25%;
        height: 100%;
    }

    .header{
        border-bottom: $largeBorder;

        font-size: 200%;

        width: 100%;
        height: fit-content;

        color: $brown;

        @include padding(0, 0, 40px, 40px);

        img{@include images(30px, 30px);}
    }

    .noteTab{
        @include padding(5px, 5px, 40px, 40px);

        color: $brown;
        font-size: 125%;

        border-bottom: $smallBorder;

        img{
            display: none;
            @include images(15px, 15px);
        }
    }

        .noteTab:hover{
            background-color: $lighterGreen;

            img{
                display: inline;
            }
        }

/* Right Area */
    .rightArea{
        width: 75%;
        height: 100%;
    }

    .note{
        width: 25%;
        min-width: 15%;
        max-width: 50%;
        height: 75%;
        min-height: 25%;
        max-height: 90%;

        border-radius: 20px;
        border: $largeBorder;

        color: $brown;

        position: absolute;

        resize: both;
        overflow: auto;

        .noteTitle{
            border-bottom: $largeBorder;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            @include padding(5px, 5px, 20px, 20px);

            font-size: 150%;

            cursor: move;

            .buttons{
                width: 25%;

                img{
                    @include images(20px, 20px);
                }
            }

            
        }

        .to-do{
            @include padding(5px, 5px, 20px, 20px);
            border-bottom: $smallBorder;

            cursor: move;

            input{
                margin-right: 5px;
            }

            img{
                display: none;
                @include images(15px, 15px);
            }
        }

            .to-do:hover{
                background-color: $lightestGreen;

                img{
                    display: inline;
                }
            }

            .to-do.over{
                border: dotted 2px $brown;
            }

        .footer{
            position: absolute;
            bottom: 0;

            width: 100%;
            height: 10%;

            color: $brown;

            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top: $largeBorder;

            @include padding(0, 0, 20px, 20px);

            img{
                @include images(20px, 20px);
            }
        }
    }

    #settings{
        position: absolute;
        right: 40px;

        border: $largeBorder;
        border-radius: 20px;

        width: 10vw;

        margin-top: 1vw;
        
        @include padding(5px, 5px, 10px, 10px);

        img{
            @include images(30px, 30px);
            border-radius: 10px;
        }
    }
