$white: #FFFFFF;
$lightGreen: #C5DCA0;
$lighterGreen: #c5dca080;
$lightestGreen: #c5dca040;
$darkGreen: #5B7553;
$teal: #36827F;
$brown: #3D2C2E;
$lighterBrown: #533c3f;
$smallBorder: 1px solid $darkGreen;
$largeBorder: 2px solid $darkGreen;

@mixin padding($top, $bottom, $right, $left){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-right: $right;
    padding-left: $left;
}

@mixin images($width, $height){
    width: $width;
    height: $height;
}

body{
    margin: 0 auto;

    width: 100%;
    height: 100%;

    font-family: 'Quicksand', sans-serif;
}

.nav{
    background-color: $darkGreen;

    color: $white;
    font-size: 250%;
    font-weight: bold;

    width: 100%;
    height: fit-content;

    @include padding(5px, 5px, 40px, 40px);

    .images{

        img{@include images(30px, 30px);}

        width: 10%;
    }
}

/* Main Area */
    .mainArea{
        width: 100%;
        height: 100vh;
    }

/* Left Bar*/
    .leftBar{
        width: 25%;
        height: 100%;

        background-color: $lightestGreen;
    }

    .header{
        background-color: $lightGreen;
        border-bottom: $largeBorder;

        font-size: 200%;

        width: 100%;
        height: fit-content;

        color: $brown;

        @include padding(0, 0, 40px, 40px);

        img{@include images(30px, 30px);}
    }

    .noteTab{
        @include padding(5px, 5px, 40px, 40px);

        color: $brown;
        font-size: 125%;

        border-bottom: $smallBorder;

        img{
            display: none;
            @include images(15px, 15px);
        }
    }

        .noteTab:hover{
            background-color: $lighterGreen;

            img{
                display: inline;
            }
        }

/* Right Area */
    .rightArea{
        width: 75%;
        height: 100%;

        @include padding(40px, 40px, 40px, 40px);
    }

    .note{
        width: 25%;
        height: 75%;

        border-radius: 20px;
        border: $largeBorder;

        color: $brown;

        position: absolute;

        .noteTitle{
            background-color: $lightGreen;

            border-bottom: $largeBorder;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            @include padding(5px, 5px, 20px, 20px);

            font-size: 150%;

            cursor: move;

            .buttons{
                width: 25%;

                img{
                    @include images(20px, 20px);
                }
            }

            
        }

        .to-do{
            @include padding(5px, 5px, 20px, 20px);
            border-bottom: $smallBorder;

            input{
                margin-right: 5px;
            }

            img{
                display: none;
                @include images(15px, 15px);
            }
        }

            .to-do:hover{
                background-color: $lightestGreen;

                img{
                    display: inline;
                }
            }
    }
